<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.entropyfeng.manage.dao.GradeMapper" >

    <update id="updateGrade" parameterType="Map">
        update grade set grade=#{grade} where grade.student_id=#{studentId} and grade.course_id=#{courseId}
    </update>
    <delete id="deleteGrade" parameterType="Map">
        delete from grade where course_id=#{courseId} and student_id=#{studentId}
    </delete>
</mapper>